{% include 'college_header.html' %}
<style>
table {
	font-family: times new roman;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	}
</style>

 <div class="container" style="margin:0 auto;">
 	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">Question Details</h5>
		<h5> Add only 10 questions</h5>
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;color: #FFF">
                        <tr class="white">
	                        <th>S.No</th>
							<th>Question</th>
                            <th>Option 1</th>
                            <th>Option 2</th>
							<th>Option 3</th>
							<th>Option 4</th>
                            <th>Answer</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in detail %}
                        <tr>
					        <td>{{forloop.counter}}</td>
							<td>{{i.question}}</td>
                            <td>{{i.option1}}</td>
                            <td>{{i.option2}}</td>
							<td>{{i.option3}}</td>
                            <td>{{i.option4}}</td>
                            <td>{{i.answer}}</td>
							<td>
                                <a href="{% url 'delete' pk=i.id %}" class="btn btn-secondary btn-xs">Delete</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Question</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


